@Kopernicus:HAS[!SLIPPISTsettings]:AFTER[aSLIPPIST-1]
{
	#@SLIPPISTsettings {}
}
@Kopernicus:HAS[@SLIPPISTsettings:HAS[#Lighting[Pale]]]:AFTER[aSLIPPIST-1]
{
	@Body:HAS[#identifier[SLIPPIST-1/SLIPPIST-1]]
	{
		@ScaledVersion
		{
			@Light
			{
				//%sunLensFlareColor = 1.000,0.907,0.764,1.000
				sunLensFlareColor = 0.9,0.7035,0.522,1
				
				%sunlightColor = 1,0.7648,0.5748,1
				%scaledSunlightColor = 1,0.7648,0.5748,1
				%IVASunColor = 1,0.7648,0.5748,1
			}
			@Material
			{
				%emitColor0 = 1,0.7868,0.5683,1
				
				%emitColor1 = 0.949,0.7535,0.5487,1
				
				%sunspotColor = 0.8,0.475,0.325,1
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Bravo]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Charlie]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Delta]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Echo]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Foxtrot]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Golf]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				%rimBlend = 0.7
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
	@Body:HAS[#identifier[SLIPPIST-1/Hotel]]
	{
		@ScaledVersion
		{
			@Material
			{
				!Gradient{}
				Gradient
				{
					0.0 = 0.45,0.49885,0.5348,1
					0.1 = 0,0,0,1
					0.6 = 0.0,0.0,0.0,1.0
					1.0 = 0.0,0.0,0.0,1.0
				}
				
			}
		}
		@Atmosphere
		{
			%lightColor = 0.573076904,0.556214273,0.532692373,1
		}
		@PQS
		{
			@Material
			{
				%fogColorRamp = SLIPPIST-1/PluginData/FogRampPale.png
			}
		}
	}
}